---
layout: default
title: Author
cover: 'assets/images/cover4.jpg'
class: 'founder-template'
navigation: True
label: Author
logo: 'assets/images/PayRnD.png'
current: founder
---
<!-- < default}} -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header -->

<!-- Everything inside the #founder tags pulls data from the founder -->
<!-- #founder  -->
    <header class="main-header founder-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
        <nav class="main-nav overlay clearfix">
            {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
            {% if page.navigation %}
                <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
            {% endif %}
        </nav>
    </header>

    <section class="founder-profile inner">
        {% if site.image %}
        <figure class="founder-image">
            <div class="img" style="background-image: url({{ site.baseurl }}{{ site.image }})"><span class="hidden">{{ site.founder }}'s Picture</span></div>
        </figure>
        {% endif %}
        <h1 class="founder-title">{{ site.founder }}</h1>
        {% if site.bio %}
            <h2 class="founder-bio">{{ site.bio }}</h2>
        {% endif %}
        <div class="founder-meta">
            {% if site.location %}<span class="founder-location icon-location">{{ site.location }}</span>{% endif %}
            {% if site.url %}<span class="founder-link icon-link"><a href="{{ site.url }}">{{ site.short_url }}</a></span>{% endif %}
            <!-- <span class="founder-stats"><i class="icon-stats"></i> [[plural ../pagination.total empty='No posts' singular='% post' plural='% posts']]</span> -->
            <span class="founder-stats"><i class="icon-stats"></i>{% if paginator.total_posts == 0 %}No posts{% elsif paginator.total_posts == 1 %}1 post{% else %}{{ paginator.total_posts }} posts{% endif %}</span>
        </div>
    </section>
<!-- /founder -->

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">

    <!-- The tag below includes the post loop - partials/loop.hbs  -->
    {% include loop.html %}

</main>
